<!-- FOOTER -->  
<footer class="sticky-footer">
	<div class="footer-inner wrapper">
		<ul class="socialmedia-widget left-float">
			<li class="facebook"><a href="https://www.facebook.com/MaliaVibes"></a></li>
			<li class="twitter"><a href="https://twitter.com/maliavibes"></a></li>
			<li class="instagram"><a href="https://instagram.com/malia_kc/"></a></li>
			<li class="youtube"><a href="https://www.youtube.com/channel/UCXi8B8Vw8pCHnxKy7qKJU4A"></a></li>
		</ul>
		<div class="copyright right-float">
			Copyright &copy; 2015 by MaliaVibes.  Made with Love by 
			<a href="www.wildfyregroup.com">Wildfyre</a>
		</div>
 	</div>
</footer>
	<!-- FOOTER -->         