<!-- HEADER -->
<header id="header">        
	<div class="header-inner clearfix">
	
		<!-- FIXED HEADER CONTENT (*optional / this will be shown when header is switching to fixed) -->
		<div class="fixed-header-content"> 
			<a href="/">
				<h1 id="header-name" class="alttitle title-minimal left-float"><strong>MaliaVibes</strong></h1>
			</a>
			<div id="social-share" class="right-float">
				<a href="#" class="show-share">Share</a>
				<ul class="socialmedia-widget alttitle">
					<li class="facebook"><a href="https://www.facebook.com/MaliaVibes"></a></li>
					<li class="twitter"><a href="https://twitter.com/maliavibes"></a></li>
					<li class="instagram"><a href="https://instagram.com/malia_kc/"></a></li>
					<li class="youtube"><a href="https://www.youtube.com/channel/UCXi8B8Vw8pCHnxKy7qKJU4A"></a></li>
				</ul>
			</div>
		</div>
		<!-- FIXED HEADER CONTENT -->
		
       <!-- DEFAULT HEADER CONTENT -->
	   	<div class="default-header-content">                 
			<div id="logo" class="left-float">
				<a id="default-logo" class="logotype" href="index.html">
					<%= image_tag("uploads/pond-logo.png", alt: "Logo") %>
				</a>
				<a id="fixed-logo" class="logotype" href="index.html">
					<%= image_tag("uploads/pond-logo.png", alt: "Logo") %>
				</a>
			</div>    
			
			<div class="menu right-float clearfix">
				<a href="#" class="open-nav nav-dark"><span></span></a>
				<nav id="main-nav" class="text-light">
					<div class="nav-logo">
						<%= image_tag("uploads/pond-logo.png", alt: "Logo") %>
					</div>
					<div class="nav-inner">
					<ul>
						<li>
							<a href="/music" class="scroll-to" data-bigletter="M">Music</a>
						</li>
						<li>
							<a href="/photos" class="scroll-to" data-bigletter="P">Photos</a>
						</li>
						<li>
							<a href="/lyrics" class="scroll-to" data-bigletter="L">Lyrics</a>
						</li>
						<li>
							<a href="/videos" class="scroll-to" data-bigletter="V">Videos</a>
						</li>
					</ul>
					</div>
					<div class="nav-social">
						<ul class="socialmedia-widget social-share">
							<li class="facebook"><a href="https://www.facebook.com/MaliaVibes"></a></li>
							<li class="twitter"><a href="https://twitter.com/maliavibes"></a></li>
							<li class="instagram"><a href="https://instagram.com/malia_kc/"></a></li>
							<li class="youtube"><a href="https://www.youtube.com/channel/UCXi8B8Vw8pCHnxKy7qKJU4A"></a></li>
						</ul>
					</div>
					<div class="nav-bg"></div>
				</nav>
			</div>
		</div>
       <!-- DEFAULT HEADER CONTENT -->
                
	</div> <!-- END .header-inner -->
</header> <!-- END header -->
<!-- HEADER -->  

