<style>

.tp-caption a {
  color: #fff;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
}

.imgoverlay:after,
.imgoverlay:after:hover {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333 !important;

	z-index: 1;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
	opacity: .15;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.separator-small span {
  width: 100%;
  height: 1px;
  line-height: 1px;
  background: #0d0d0d;
  display: block;
}

</style>
<!-- PAGE CONTENT -->
<div id="page-content">

	<!-- HEADER -->
	<%= render "shared/header" %>
	<!-- HEADER -->  
	
	<!-- PAGE TITLE -->
		
	

	<!-- HOME (SLIDER) -->
	<section id="home" class="notoppadding text-light">
		<div class="section-inner">
	

		<!-- REVOLUTION SLIDER -->
		<div class="rev-slider-container ">
			<div class="rev-slider" >
				<ul>
					<!-- THE FIRST SLIDE -->
					<li data-transition="slidedown" data-slotamount="5" data-masterspeed="1200" class="imgoverlay">
						<!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
						<img src="<%= image_path("gallery/11.jpg")%>"   alt="slidebg4"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

						<!-- LAYER NR. 1 -->    
						<div class="tp-caption srcaption-smallwhite title-minimal align-center lft ltb"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="0"
						data-speed="800"
						data-start="400"
						data-easing="easeInOutQuad"
						data-endspeed="800"
						data-endeasing="easeInOutQuad"
						style="z-index: 2">
							<div class="separator-small">
								<span></span>
							</div>
							<strong>
								<a href="/music">music</a> 
								/
								<a href="/photos">photos</a>
								 / 
								<a href="/videos">videos</a> 
								/ 
								<a href="/lyrics">lyrics</a> 
							</strong>
							<div class="separator-small">
								<span></span>
							</div>
						</div>
					</li> <!-- end first slide -->
					
				</ul>

			</div>
		</div> <!-- END .rev-slider-container -->        
		<!-- REVOLUTION SLIDER -->
	
		</div>
	</section>
	<!-- HOME (SLIDER) -->
	
	
	<!-- PAGEBODY -->
	<div class="page-body">
      	
      	<!-- FOOTER -->
		<%= render "shared/footer" %>
		<!-- FOOTER -->         
        
 	</div> <!-- END .page-body -->
	<!-- PAGEBODY -->
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->