<!-- PAGE CONTENT -->
<div id="page-content">

	
	<!-- HEADER -->
	<%= render "shared/header" %>
	<!-- HEADER -->  
	

	<!-- PAGE TITLE -->
	<section id="page-title" class="parallax-section" data-parallax-image="https://jaycebaron.files.wordpress.com/2014/02/1270127_10200672578433415_1899607243_o.jpg" style="background-size: contain !important; background-position: 0 -800px !important;">
		<div class="imgoverlay overlay-dark"  style="z-index: 99999;">
			<div class="section-inner wrapper align-center">
					<div class="blog-headline">
					<h4 class="post-name title-minimal"><strong>lyrics</strong></h4> 
				</div>
			</div>
		</div>
	</section>
	<!-- PAGE TITLE -->


	<section id="work">
   		<div class="section-inner">
			<div class="main-title wrapper align-center">
				<div class="wrapper">
					<div class="main-title align-center">
						<h4><strong>Listen</strong></h4>
						<div class="separator-small"><span></span></div>
						<h6 class="alttitle title-minimal">Malia Music on the internet</h6>
					</div>
						
					<div class="spacer spacer-mini"></div>
						
					<div class="owlcarousel content-carousel" data-autoplay="6000" data-pagination="false">
						<div class="align-center">
							<img src="files/uploads/spotify-128.png" alt="Spotify" style="height: 60px;">
						</div>
						<div class="align-center">
							<img src="files/uploads/soundcloud-128.png" alt="SoundCloud" style="height: 55px;">
						</div>
						<div class="align-center">
							<img src="files/uploads/itunes_A-128.png" alt="itunes" style="margin-top: -30px;">
						</div>
						<div class="align-center">
							<img src="files/uploads/youtube2-128.png" alt="Youtube" style="height: 55px;">
						</div> 
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
	</section>


	<!-- PAGE TITLE -->
	<section id="page-title" class="parallax-section" data-parallax-image="files/uploads/roof.jpg" style="background-size: 120% !important;">
		<div class="imgoverlay overlay-dark">
			<div class="section-inner wrapper align-center">
				<div class="blog-headline">
					<h4 class="post-name title-minimal">
						<strong>Dull Aches</strong>
						<span class="fa fa-soundcloud"></span>
					</h4> 
					
				</div>
			</div>
		</div>
	</section>
	<!-- PAGE TITLE -->
	
	
	<!-- PAGEBODY -->
	<div class="page-body">
		
	 	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/158732807&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

	 	<section id="blog-single">
			<div class="section-inner wrapper clearfix">
				<div class="blog-content">

					<h4><strong>Dull Aches</strong></h4>
					<div class="separator-small"><span></span></div>
					<p class="credits">
						<span class=""> <strong>Written By</strong> Malia</span>
						<span class=""><strong>Produced By</strong> Malia</span>
						<span class=""><strong>Guitar</strong> Malia</span>
					</p>
					<div class="column-section clearfix">
						<div class="column one-half">
							<h6><strong>(hook)</strong></h6>
							<p>
								These dull aches turn to throbbin' pain <br/>
								what more from this lesson am I to gain? <br/>
								see the repetition in my history <br/>
								is it cause for concern? <br/>
								what is it im here for, must be somethin' that I gotta learn
							</p>

							<h6><strong>(verse 1)</strong></h6>
							
							<p>
								They say patience is more than a virtue, you<br/>
								staying guarded so no one can hurt you<br/>
								but you will be just fine<br/>
								if you learn to let go and just<br/>
								inhale what you need exhale all that you dont<br/>
								when you feel like youve reached the end of your rope<br/>
								lessons take some time, sometimes...
							</p>
						
							<h6>
								<strong>(hook)</strong>
							</h6>

						</div>
						<div class="column one-half last-col">
							<h6><strong>(verse 2)</strong></h6>
							<p>
								dont think for a second that people will change for ya <br/>
								they got somethin to say and that's fine, nothin to prove <br/>
								im not perfect, always learnin, the tongue knows what the owner forgets <br/>
								speak what you want, what you say is what you will get
							</p>

							<h6><strong>(bridge)</strong></h6>
							<p>
								dont be too critical<br/>
								of your each and every action<br/>
								cuz no one seems to follow<br/>
								the yellow brick road without a distraction
							</p>
							
							<h6>
								<strong>(hook)</strong>
							</h6>
						</div>
					</div>
				</div>	
			</div>
		</section>

		<br/>
		<br/>
		<br/>

		<!-- PAGE TITLE -->
		<section id="page-title" class="parallax-section" data-parallax-image="files/uploads/fence.jpg"  style="background-size: 120% !important;">
			<div class="imgoverlay overlay-dark">
				<div class="section-inner wrapper align-center">
					<div class="blog-headline">
						<h4 class="post-name title-minimal"><strong>sunny day</strong>
							<span class="fa fa-soundcloud"></span>
						</h4> 
					</div>
				</div>
			</div>
		</section>
		<!-- PAGE TITLE -->
		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/158732800&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			
		<section id="blog-single">
			<div class="section-inner wrapper clearfix">
				<div class="blog-content">
					<h4><strong>Sunny Day</strong></h4>
					<div class="separator-small"><span></span></div>
					<p class="credits">
						<span class=""> <strong>Written By</strong>: Malia</span>
						<span class=""><strong>Produced By</strong>: Malia</span>
						<span class=""><strong>Guitar</strong>: Malia</span>
					</p>



					<div class="column-section clearfix">
						<div class="column one-half">
							<h5><strong>(verse 1)</strong></h5>

							<p class="text-center">
								Days get brighter when you come around <br/>
								Oh I love when you come around <br/>
								So feel free to stop by <br/>
								Got me singin’ those sweet songs <br/>
								Along with your symphony<br/>
								Mmmm, your energy it, got me <br/>
								Feelin’ lighter you bring life when you come around<br/>
								It’s no wonder babe <br/>
								Feel like summer weather now
							</p>

							<h5><strong>(hook)</strong></h5>

							<p>
								Nothin’ wrong with this day <br/>
								I got no complaints I’m OK<br/>
								Just another day<br/>
								Without you babe<br/>
								Said nothin’ wrong with today<br/>
								Still wouldn’t mind if you came my way <br/>
								Just another day <br/>
								Without you babe
							</p>

							<h5><strong>(scat section)</strong></h5>

						</div>
						<div class="column one-half last-col">
							<h5><strong>(verse 2)</strong></h5>

							<p>
								I’ll scribble down these words of passing memories <br/>
								Lost in my imagination ill pass the time in my daydream <br/>
								I like the way you paint the sky <br/>
								Making lively fantasies <br/>
								Hey I wouldn’t mind<br/>
								If you came and did the same for me, I’m<br/>
								speak what you want, what you say is what you will get<br/>

								Feelin’ lighter you bring life when you come around<br/>
								It’s no wonder babe <br/>
								Feel like summer weather now, now
							</p>

							<h5><strong>(bridge)</strong></h5>
							<p>
								My spirit is restless and my mind is racing <br/>
								Im everywhere at once but <br/>
								Still I’m here waitin’<br/>
								Your presence brings vitality <br/>
								We create our own reality <br/>
								So I’ve colored you into my world
							</p>

							<h5><strong>(hook)</strong></h5>

							<p>
							Nothin’ wrong with this day <br/>
							I got no complaints im OK<br/>
							Just another day<br/>
							Without you babe<br/>
							Said nothin wrong with today<br/>
							Still wouldn’t mind if you came my way <br/>
							Just another day<br/> 
							Without you babe 
							</p>

							<h5><strong>(scat section)</strong></h5>
						</div>
					</div>
				</div>	
			</div>
		</section>

		<br/>
		<br/>
		<br/>

		<!-- PAGE TITLE -->
		<section id="page-title" class="parallax-section" data-parallax-image="files/uploads/garage.jpg" style="background-size: 120% !important;">
			<div class="imgoverlay overlay-dark">
				<div class="section-inner wrapper align-center">
					<div class="blog-headline">
						<h4 class="post-name title-minimal"><strong>satisfaction</strong>
							<span class="fa fa-soundcloud"></span>
						</h4> 
					</div>
				</div>
			</div>
		</section>
		<!-- PAGE TITLE -->
		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156853449&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

		<section id="blog-single">
			<div class="section-inner wrapper clearfix">
				<div class="blog-content">
					<h4><strong>Sunny Day</strong></h4>
					<div class="separator-small"><span></span></div>
					<p class="credits">
						<span class=""> <strong>Written By</strong>: Malia</span>
						<span class=""><strong>Produced By</strong>: Malia</span>
						<span class=""><strong>Guitar</strong>: Malia</span>
					</p>
				
					<div class="column-section clearfix">
						<div class="column one-half">
							<h5><strong>(verse 1)</strong></h5>
							<p class="text-center">
								Sittin’ here <br/>
								Thinkin’ bout you <br/>
								Im feelin’ everything you do <br/>
								Got me stuck on you <br/>
								Never try to impress <br/>
								But forever make an impression <br/>
								I think im feelin <br/>
								Crazy chemistry a connection
							</p>

							<h5><strong>(hook)</strong></h5>

							<p>
								Cuz you pick me up you put it down <br/>
								The way you move excites me <br/>
								All around <br/>
								Gimme that good sound <br/>
								You can touch me there <br/>
								You take me <br/>
								Directly where I wanna be <br/>
								I like that musical satisfaction <br/>
								You put on me
							</p>
							
							<h5><strong>(verse 2)</strong></h5>

							<p>
								Spark creative vision <br/>
								Pinpoint emotions with such preceision <br/>
								You leave me wanting you <br/>
								Gimme more, I want more <br/>
								Got me feelin inspired <br/>
								My every desire I, fell for your lure <br/>
								But this fulfillment is pure
							</p>
						</div>
						<div class="column one-half last-col">
							<h5><strong>(hook atl)</strong></h5>

							<p>
								Cuz you pick me up you put it down <br/>
								The way you move excites me <br/>
								All around <br/>
								Gimme that good sound <br/>
								Touch me there <br/>
								Take me where  <br/>
								I wanna be, you and me<br/>
								I like that musical satisfaction <br/>
								You put on me
							</p>

							<h5><strong>(bridge)</strong></h5>

							<p>
								Nothin’ holds me captive<br/>
								Like you do <br/>
								You can make me scream <br/>
								It’s like im in my dreams <br/>
								Mmmm, cant get enough <br/>
								You leave me speechless <br/>
								You and I define bliss
							</p>

							<h5><strong>(hook)</strong></h5>

							<p>
								Cuz you pick me up you put it down <br/>
								The way you move excites me <br/>
								All around <br/>
								Gimme that good sound <br/>
								You can touch me there <br/>
								You take me <br/>
								Directly where I wanna be <br/>
								I like that musical satisfaction <br/>
								You put on me
							</p>
						</div>
					</div>
				</div>	
			</div>
		</section>
		<br/>
		<br/>
		<br/>

		<!-- PAGE TITLE -->
		<section id="page-title" class="parallax-section" data-parallax-image="https://photos-2.dropbox.com/t/2/AAA_tw4gnJO7GFsXTPzK8Pc5-ySwLpWk0Xg8rA4h_S-ITg/12/228943526/jpeg/32x32/3/_/1/2/grass%20hill.jpg/CKbNlW0gASACIAMoAQ/IlQ3pVhoJ49d3Rr86hOxlbPNAAH5Oe4AtG1W6BGACv4?size=1280x960" style="background-size: 120% !important;">
			<div class="imgoverlay overlay-dark">
				<div class="section-inner wrapper align-center">
					<div class="blog-headline">
						<h4 class="post-name title-minimal"><strong>lovestruck</strong>
							<span class="fa fa-soundcloud"></span>
						</h4> 
					</div>
				</div>
			</div>
		</section>
		<!-- PAGE TITLE -->
		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/185462179&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

		<section id="blog-single">
			<div class="section-inner wrapper clearfix">
				<div class="blog-content">

					<h4><strong>Lovestruck</strong></h4>
					<div class="separator-small"><span></span></div>
					<p class="credits">
						<span class=""> <strong>Written By</strong>: Malia</span>
						<span class=""><strong>Produced By</strong>: Malia</span>
						<span class=""><strong>Guitar</strong>: Malia</span>
					</p>
					<div class="column-section clearfix">
						<div class="column one-half">
							<h5><strong>(hook)</strong></h5>

							<p class="text-center">
								The vessel through which I landed <br/>
								The only one who never leaves me stranded <br/>
								Your love, your love makes my soul blush <br/>
								(x2)
							</p>

							<h5><strong>(verse 1)</strong></h5>

							<p>
								Wake me with a kiss in the morning <br/>
								You’re like the rush in my veins to help me get through the day <br/>
								Got my senses up on high <br/>
								Ready to put in overtime <br/>
								How can I give back to ya<br/>
								The love I know, I learned it all through ya <br/>
								The kind that fills me all the way up
							</p>
						</div>
						<div class="column one-half last-col">
							<h5><strong>(pre)</strong></h5>

							<p>
								what a joy it is to be alive<br/>
								I got you here by my side whoa
							</p>

							<h5><strong>(hook)</strong></h5>

							<h5><strong>(verse 2)</strong></h5>

							<p>
								Flushed blushin’ every shade of red <br/>
								Happens every time over and again <br/>
								Your love, I can’t get enough of <br/>
								The little piece of me I see in you <br/>
								You’re part of me I smile with gratitude <br/>
							</p>	

							<h5><strong>(pre)</strong></h5>

							<h6><strong>(hook)</strong></h6>
						</div>
					</div>
				</div>	
			</div>
		</section>
		<br/>
		<br/>
		<br/>
				
				
		 		<div class="spacer spacer-big"></div> <!-- adding spacing for the footer section -->
				
				<!-- Single Pagination -->
				<ul class="single-pagination fixed-pagination">
					<li class="next">
						<a href="videos.html" class="transition" data-name="Watch Malia">
							<i class="pagination-icon"></i> Videos <i class="pagination-icon"></i>
						</a>
					</li>
					<li class="prev">
						<a href="music.html" class="transition" data-name="Listen to Malia">
							<i class="pagination-icon"></i> Music <i class="pagination-icon"></i>
						</a>
					</li>
				</ul>
					
			</div> <!-- END .section-inner-->
		</section> <!-- END SECTION #blog-->
	 	<!-- BLOG SINGLE SECTION -->

      	<!-- FOOTER -->
		<%= render "shared/footer" %>
		<!-- FOOTER -->     
        
 	</div> <!-- END .page-body -->
	<!-- PAGEBODY -->
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->